In [16]:
import numpy as np
import pandas as pd
import datetime
from sklearn.utils import resample
from typing import Dict
from transformers.columnSelectorTransformer import ColumnSelectorTransformer
from transformers.woeTransformer import WOETransformer
from transformers.binningTransformer import BinningTransformer

In [17]:
from pd_modeling.bins import bins

In [3]:
dataset = pd.read_csv('../files/credit_risk_data_v2.csv', low_memory=False)

In [18]:
cols_to_keep = ['loan_amnt', 'funded_amnt', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'emp_length', 'home_ownership',
       'annual_inc', 'verification_status', 'purpose',
       'addr_state', 'dti', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'total_pymnt', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_amnt',
       'tot_coll_amt',
       'tot_cur_bal', 'total_rev_hi_lim', 'status']

In [19]:
column_t = ColumnSelectorTransformer(columns=cols_to_keep)
binning_t = BinningTransformer(bins=bins)
woe_t = WOETransformer(columns=cols_to_keep)

In [20]:
dataset_c = column_t.transform(dataset)
dataset_c.head()

,loan_amnt,funded_amnt,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,...,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,status
0,5000,5000,36 months,10.65,162.87,B,B2,10+ years,RENT,24000.0,...,5000.00,861.07,0.00,0.00,0.00,171.62,NaN,NaN,NaN,0
1,2500,2500,60 months,15.27,59.83,C,C4,< 1 year,RENT,30000.0,...,456.46,435.17,0.00,117.08,1.11,119.66,NaN,NaN,NaN,1
2,2400,2400,36 months,15.96,84.33,C,C5,10+ years,RENT,12252.0,...,2400.00,603.65,0.00,0.00,0.00,649.91,NaN,NaN,NaN,0
3,10000,10000,36 months,13.49,339.31,C,C1,10+ years,RENT,49200.0,...,10000.00,2209.33,16.97,0.00,0.00,357.48,NaN,NaN,NaN,0
4,3000,3000,60 months,12.69,67.79,B,B5,1 year,RENT,80000.0,...,2233.10,1009.07,0.00,0.00,0.00,67.79,NaN,NaN,NaN,0

In [21]:
dataset_c = column_t.clean(X=dataset_c).reset_index(drop=True)
dataset_c.head()

,loan_amnt,funded_amnt,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,...,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,status
0,27050,27050,36 months,10.99,885.46,B,B2,10+ years,OWN,55000.0,...,17031.10,4219.94,0.0,0.0,0.0,885.46,0.0,114834.0,59900.0,0
1,9750,9750,36 months,13.98,333.14,C,C1,1 year,RENT,26000.0,...,6039.04,1955.79,0.0,0.0,0.0,333.14,0.0,14123.0,15100.0,0
2,12000,12000,36 months,6.62,368.45,A,A2,10+ years,MORTGAGE,105000.0,...,7733.38,1109.42,0.0,0.0,0.0,368.45,0.0,267646.0,61100.0,0
3,12000,12000,36 months,13.53,407.40,B,B5,10+ years,RENT,40000.0,...,11999.99,1359.78,0.0,0.0,0.0,119.17,15386.0,13605.0,8100.0,0
4,15000,15000,36 months,8.90,476.30,A,A5,2 years,MORTGAGE,63000.0,...,9550.73,1880.47,0.0,0.0,0.0,476.30,1514.0,272492.0,15400.0,0

In [22]:
dataset_c = column_t.undersampling(X=dataset_c, y='status').reset_index(drop=True)
dataset_c.head()

,loan_amnt,funded_amnt,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,...,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,status
0,10000,10000,36 months,8.90,317.54,A,A5,9 years,RENT,43000.0,...,8445.26,1395.84,0.00,0.0,0.0,317.54,0.0,14241.0,39000.0,0
1,4500,4500,36 months,11.99,149.45,B,B5,1 year,MORTGAGE,115000.0,...,4500.00,171.91,0.00,0.0,0.0,4226.56,0.0,190853.0,28800.0,0
2,20000,20000,36 months,6.03,608.72,A,A1,2 years,MORTGAGE,81000.0,...,7897.38,1233.42,0.00,0.0,0.0,608.72,0.0,181077.0,25600.0,0
3,25000,25000,60 months,19.24,651.82,E,E2,10+ years,RENT,106000.0,...,3898.07,5187.33,32.59,0.0,0.0,651.82,0.0,279138.0,43800.0,0
4,21200,21200,60 months,20.49,567.47,E,E1,10+ years,MORTGAGE,60000.0,...,21200.00,10121.38,0.00,0.0,0.0,12598.44,0.0,235556.0,56400.0,0

In [23]:
dataset_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75366 entries, 0 to 75365
Data columns (total 30 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   loan_amnt                75366 non-null  int64
 1   funded_amnt              75366 non-null  int64
 2   term                     75366 non-null  object
 3   int_rate                 75366 non-null  float64
 4   installment              75366 non-null  float64
 5   grade                    75366 non-null  object
 6   sub_grade                75366 non-null  object
 7   emp_length               75366 non-null  object
 8   home_ownership           75366 non-null  object
 9   annual_inc               75366 non-null  float64
 10  verification_status      75366 non-null  object
 11  purpose                  75366 non-null  object
 12  addr_state               75366 non-null  object
 13  dti                      75366 non-null  float64
 14  revol_bal                75366 non-null  int64
 15  revol_util               75366 non-null  float64
 16  total_acc                75366 non-null  float64
 17  initial_list_status      75366 non-null  object
 18  out_prncp                75366 non-null  float64
 19  total_pymnt              75366 non-null  float64
 20  total_rec_prncp          75366 non-null  float64
 21  total_rec_int            75366 non-null  float64
 22  total_rec_late_fee       75366 non-null  float64
 23  recoveries               75366 non-null  float64
 24  collection_recovery_fee  75366 non-null  float64
 25  last_pymnt_amnt          75366 non-null  float64
 26  tot_coll_amt             75366 non-null  float64
 27  tot_cur_bal              75366 non-null  float64
 28  total_rev_hi_lim         75366 non-null  float64
 29  status                   75366 non-null  int64
dtypes: float64(17), int64(4), object(9)
memory usage: 17.3+ MB

In [26]:
x_train_c = dataset_c.drop("status", axis=1)
y_train = dataset_c["status"]
x_train_c.head()

,loan_amnt,funded_amnt,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,...,total_pymnt,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
0,10000,10000,36 months,8.90,317.54,A,A5,9 years,RENT,43000.0,...,9841.10000,8445.26,1395.84,0.00,0.0,0.0,317.54,0.0,14241.0,39000.0
1,4500,4500,36 months,11.99,149.45,B,B5,1 year,MORTGAGE,115000.0,...,4671.91000,4500.00,171.91,0.00,0.0,0.0,4226.56,0.0,190853.0,28800.0
2,20000,20000,36 months,6.03,608.72,A,A1,2 years,MORTGAGE,81000.0,...,9130.80000,7897.38,1233.42,0.00,0.0,0.0,608.72,0.0,181077.0,25600.0
3,25000,25000,60 months,19.24,651.82,E,E2,10+ years,RENT,106000.0,...,9117.99000,3898.07,5187.33,32.59,0.0,0.0,651.82,0.0,279138.0,43800.0
4,21200,21200,60 months,20.49,567.47,E,E1,10+ years,MORTGAGE,60000.0,...,31321.37529,21200.00,10121.38,0.00,0.0,0.0,12598.44,0.0,235556.0,56400.0

In [27]:
x_train_b = binning_t.transform(x_train_c)
x_train_b.head()

,loan_amnt,funded_amnt,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,...,total_pymnt,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
0,"(9500.0,18000.0)","(5857.0,10714.0)",36 months,"(6.0,9.0)","(254.0,486.0)",A,A5,9 years,RENT,"(7000.0,178500.0)",...,"(0.0,13786.0)","(5833.0,11667.0)","(0.0,3069.0)","(-inf,0.0)","(-inf,0.0)","(-inf,0.0)","(0.0,6007.0)","(-inf,0.0)","(0.0,960199.0)","(100.0,1428657.0)"
1,"(1000.0,9500.0)","(1000.0,5857.0)",36 months,"(9.0,12.0)","(23.0,254.0)",B,B5,1 year,MORTGAGE,"(7000.0,178500.0)",...,"(0.0,13786.0)","(0.0,5833.0)","(0.0,3069.0)","(-inf,0.0)","(-inf,0.0)","(-inf,0.0)","(0.0,6007.0)","(-inf,0.0)","(0.0,960199.0)","(100.0,1428657.0)"
2,"(18000.0,inf)","(15571.0,20429.0)",36 months,"(6.0,9.0)","(486.0,717.0)",A,A1,2 years,MORTGAGE,"(7000.0,178500.0)",...,"(0.0,13786.0)","(5833.0,11667.0)","(0.0,3069.0)","(-inf,0.0)","(-inf,0.0)","(-inf,0.0)","(0.0,6007.0)","(-inf,0.0)","(0.0,960199.0)","(100.0,1428657.0)"
3,"(18000.0,inf)","(20429.0,25286.0)",60 months,"(17.0,20.0)","(486.0,717.0)",E,E2,10+ years,RENT,"(7000.0,178500.0)",...,"(0.0,13786.0)","(0.0,5833.0)","(3069.0,6139.0)","(0.0,51.0)","(-inf,0.0)","(-inf,0.0)","(0.0,6007.0)","(-inf,0.0)","(0.0,960199.0)","(100.0,1428657.0)"
4,"(18000.0,inf)","(20429.0,25286.0)",60 months,"(20.0,inf)","(486.0,717.0)",E,E1,10+ years,MORTGAGE,"(7000.0,178500.0)",...,"(27573.0,inf)","(17500.0,23333.0)","(9208.0,12277.0)","(-inf,0.0)","(-inf,0.0)","(-inf,0.0)","(12015.0,18022.0)","(-inf,0.0)","(0.0,960199.0)","(100.0,1428657.0)"

In [28]:
woe_t.fit(x_train_b, y_train)

WOETransformer(columns=['loan_amnt', 'funded_amnt', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_length', 'home_ownership', 'annual_inc', 'verification_status', 'purpose', 'addr_state', 'dti', 'revol_bal', 'revol_util', 'total_acc', 'initial_list_status', 'out_prncp', 'total_pymnt', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_amnt', 'tot_coll_amt', 'tot_cur_bal', 'total_rev_hi_lim', 'status'], target_mappings={0: 'good', 1: 'bad'})

In [29]:
x_train_b["addr_state"].value_counts()

addr_state
CA    11458
NY     6600
TX     5694
FL     5274
NJ     2875
IL     2808
PA     2701
OH     2501
VA     2369
GA     2245
NC     2159
MD     1848
MI     1847
MA     1716
AZ     1708
WA     1624
CO     1479
MN     1367
IN     1249
MO     1222
TN     1208
NV     1153
CT     1081
AL     1051
LA      923
WI      918
OR      900
SC      802
OK      745
KY      716
KS      637
UT      568
AR      564
HI      448
NM      433
WV      356
NH      332
RI      318
DE      214
MS      209
MT      198
AK      198
DC      190
WY      166
SD      156
VT      136
NE        1
IA        1
Name: count, dtype: int64

In [13]:

woe_t.transform(x_train_b).head()

['(18000.0,inf)', '(9500.0,18000.0)', '(1000.0,9500.0)', '(-inf,1000.0)']
['(25286.0,inf)', '(15571.0,20429.0)', '(20429.0,25286.0)', '(10714.0,15571.0)', '(5857.0,10714.0)', '(1000.0,5857.0)', '(-inf,1000.0)']
[' 60 months', ' 36 months']
['(20.0,inf)', '(17.0,20.0)', '(15.0,17.0)', '(12.0,15.0)', '(9.0,12.0)', '(6.0,9.0)', '(-inf,6.0)']
['(948.0,inf)', '(486.0,717.0)', '(717.0,948.0)', '(254.0,486.0)', '(23.0,254.0)']
['G', 'F', 'E', 'D', 'C', 'B', 'A']
['G3', 'G5', 'F5', 'G1', 'F3', 'F4', 'G2', 'F1', 'F2', 'E5', 'E4', 'G4', 'E2', 'E3', 'E1', 'D5', 'D4', 'D2', 'D3', 'D1', 'C5', 'C3', 'C4', 'C2', 'C1', 'B5', 'B4', 'B3', 'B2', 'B1', 'A5', 'A4', 'A3', 'A2', 'A1']
['6 years', '< 1 year', '5 years', '9 years', '8 years', '7 years', '2 years', '3 years', '1 year', '4 years', '10+ years']
['OTHER', 'NONE', 'RENT', 'OWN', 'MORTGAGE']
['(7000.0,178500.0)', '(521500.0,693000.0)', '(178500.0,350000.0)', '(693000.0,inf)', '(350000.0,521500.0)', '(-inf,7000.0)']
['Verified', 'Source Verified', 'Not Verified']
['small_business', 'house', 'wedding', 'medical', 'moving', 'other', 'debt_consolidation', 'renewable_energy', 'vacation', 'major_purchase', 'home_improvement', 'credit_card', 'car']
['NV', 'HI', 'AL', 'FL', 'OK', 'TN', 'NY', 'NM', 'AR', 'LA', 'UT', 'IN', 'MD', 'NC', 'VA', 'NJ', 'KY', 'AZ', 'CA', 'MA', 'IA', 'MI', 'PA', 'OH', 'MO', 'RI', 'MN', 'SD', 'OR', 'GA', 'TX', 'KS', 'MT', 'AK', 'DE', 'WI', 'CT', 'WA', 'IL', 'WY', 'SC', 'CO', 'VT', 'WV', 'MS', 'NH', 'DC']

KeyError: 'NE'

woe_t.transform(x_train_b).head()
# WOE

Now that we transform our data to the respective Weight of Evidence, we can get the mappings for a given column to analyze the WoE and IV, and determine if our bins have a good predictive power, or if we need to re-structure them.

In [ ]:
woe_t.woe_mappings["loan_amnt"]

In [ ]:
woe_t.woe_mappings["funded_amnt"]

In [ ]:
woe_t.woe_mappings["int_rate"]

In [ ]:
woe_t.woe_mappings["installment"]

In [ ]:
woe_t.woe_mappings["annual_inc"]

In [ ]:
woe_t.woe_mappings["dti"]