In [1]:
import numpy as np
import pandas as pd
import datetime
from sklearn.utils import resample
from typing import Dict
from transformers.columnSelectorTransformer import ColumnSelectorTransformer
from transformers.woeTransformer import WOETransformer
from transformers.binningTransformer import BinningTransformer

In [2]:
from pd_modeling.bins import bins

In [3]:
dataset = pd.read_csv('../files/credit_risk_data_v2.csv', low_memory=False)

In [4]:
cols_to_keep = ['loan_amnt', 'funded_amnt', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'emp_length', 'home_ownership',
       'annual_inc', 'verification_status', 'purpose',
       'addr_state', 'dti', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'total_pymnt', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee',
       'last_pymnt_amnt',
       'tot_coll_amt',
       'tot_cur_bal', 'total_rev_hi_lim', 'status']

In [5]:
column_t = ColumnSelectorTransformer(columns=cols_to_keep)
binning_t = BinningTransformer(bins=bins)
woe_t = WOETransformer(columns=cols_to_keep)

In [6]:
dataset_c = column_t.transform(dataset)
dataset_c.head()

,loan_amnt,funded_amnt,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,...,out_prncp,total_pymnt,total_rec_prncp,total_rec_int,total_rec_late_fee,last_pymnt_amnt,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,status
0,5000,5000,36 months,10.65,162.87,B,B2,10+ years,RENT,24000.0,...,0.0,5861.071414,5000.00,861.07,0.00,171.62,NaN,NaN,NaN,0
1,2500,2500,60 months,15.27,59.83,C,C4,< 1 year,RENT,30000.0,...,0.0,1008.710000,456.46,435.17,0.00,119.66,NaN,NaN,NaN,1
2,2400,2400,36 months,15.96,84.33,C,C5,10+ years,RENT,12252.0,...,0.0,3003.653644,2400.00,603.65,0.00,649.91,NaN,NaN,NaN,0
3,10000,10000,36 months,13.49,339.31,C,C1,10+ years,RENT,49200.0,...,0.0,12226.302210,10000.00,2209.33,16.97,357.48,NaN,NaN,NaN,0
4,3000,3000,60 months,12.69,67.79,B,B5,1 year,RENT,80000.0,...,766.9,3242.170000,2233.10,1009.07,0.00,67.79,NaN,NaN,NaN,0

In [7]:
dataset_c = column_t.clean(X=dataset_c)
dataset_c.head()

,loan_amnt,funded_amnt,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,...,out_prncp,total_pymnt,total_rec_prncp,total_rec_int,total_rec_late_fee,last_pymnt_amnt,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,status
42535,27050,27050,36 months,10.99,885.46,B,B2,10+ years,OWN,55000.0,...,10018.90,21251.04,17031.10,4219.94,0.0,885.46,0.0,114834.0,59900.0,0
42536,9750,9750,36 months,13.98,333.14,C,C1,1 year,RENT,26000.0,...,3710.96,7994.83,6039.04,1955.79,0.0,333.14,0.0,14123.0,15100.0,0
42537,12000,12000,36 months,6.62,368.45,A,A2,10+ years,MORTGAGE,105000.0,...,4266.62,8842.80,7733.38,1109.42,0.0,368.45,0.0,267646.0,61100.0,0
42538,12000,12000,36 months,13.53,407.40,B,B5,10+ years,RENT,40000.0,...,0.00,13359.77,11999.99,1359.78,0.0,119.17,15386.0,13605.0,8100.0,0
42539,15000,15000,36 months,8.90,476.30,A,A5,2 years,MORTGAGE,63000.0,...,5449.27,11431.20,9550.73,1880.47,0.0,476.30,1514.0,272492.0,15400.0,0

In [8]:
dataset_c = column_t.undersampling(X=dataset_c, y='status')
dataset_c.head()

,loan_amnt,funded_amnt,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,...,out_prncp,total_pymnt,total_rec_prncp,total_rec_int,total_rec_late_fee,last_pymnt_amnt,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,status
0,25000,25000,60 months,14.30,585.61,C,C1,10+ years,MORTGAGE,60000.0,...,16678.72,14640.250000,8321.28,6318.97,0.0,585.61,0.0,104064.0,30500.0,0
1,25000,25000,60 months,14.98,594.49,C,C3,7 years,MORTGAGE,82000.0,...,17529.68,13673.270000,7470.32,6202.95,0.0,594.49,0.0,254150.0,63200.0,0
2,10000,10000,36 months,18.55,364.29,D,D2,10+ years,RENT,89000.0,...,0.00,10472.830000,9999.99,472.84,0.0,51.38,0.0,60834.0,4900.0,0
3,5000,5000,36 months,7.90,156.46,A,A4,3 years,OWN,80000.0,...,0.00,5573.942773,5000.00,573.94,0.0,1346.07,0.0,19319.0,46400.0,0
4,6000,6000,36 months,14.30,205.95,C,C1,8 years,RENT,75000.0,...,2111.65,5148.000000,3888.35,1259.65,0.0,205.95,0.0,30785.0,21700.0,0

In [9]:
dataset_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75362 entries, 0 to 75361
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   loan_amnt            75362 non-null  int64
 1   funded_amnt          75362 non-null  int64
 2   term                 75362 non-null  object
 3   int_rate             75362 non-null  float64
 4   installment          75362 non-null  float64
 5   grade                75362 non-null  object
 6   sub_grade            75362 non-null  object
 7   emp_length           75362 non-null  object
 8   home_ownership       75362 non-null  object
 9   annual_inc           75362 non-null  float64
 10  verification_status  75362 non-null  object
 11  purpose              75362 non-null  object
 12  addr_state           75362 non-null  object
 13  dti                  75362 non-null  float64
 14  revol_bal            75362 non-null  int64
 15  revol_util           75362 non-null  float64
 16  total_acc            75362 non-null  float64
 17  initial_list_status  75362 non-null  object
 18  out_prncp            75362 non-null  float64
 19  total_pymnt          75362 non-null  float64
 20  total_rec_prncp      75362 non-null  float64
 21  total_rec_int        75362 non-null  float64
 22  total_rec_late_fee   75362 non-null  float64
 23  last_pymnt_amnt      75362 non-null  float64
 24  tot_coll_amt         75362 non-null  float64
 25  tot_cur_bal          75362 non-null  float64
 26  total_rev_hi_lim     75362 non-null  float64
 27  status               75362 non-null  int64
dtypes: float64(15), int64(4), object(9)
memory usage: 16.1+ MB

In [10]:
x_train_c = dataset_c.drop("status", axis=1)
y_train = dataset_c["status"]
x_train_c.head()

,loan_amnt,funded_amnt,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,...,initial_list_status,out_prncp,total_pymnt,total_rec_prncp,total_rec_int,total_rec_late_fee,last_pymnt_amnt,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
0,25000,25000,60 months,14.30,585.61,C,C1,10+ years,MORTGAGE,60000.0,...,w,16678.72,14640.250000,8321.28,6318.97,0.0,585.61,0.0,104064.0,30500.0
1,25000,25000,60 months,14.98,594.49,C,C3,7 years,MORTGAGE,82000.0,...,f,17529.68,13673.270000,7470.32,6202.95,0.0,594.49,0.0,254150.0,63200.0
2,10000,10000,36 months,18.55,364.29,D,D2,10+ years,RENT,89000.0,...,w,0.00,10472.830000,9999.99,472.84,0.0,51.38,0.0,60834.0,4900.0
3,5000,5000,36 months,7.90,156.46,A,A4,3 years,OWN,80000.0,...,f,0.00,5573.942773,5000.00,573.94,0.0,1346.07,0.0,19319.0,46400.0
4,6000,6000,36 months,14.30,205.95,C,C1,8 years,RENT,75000.0,...,f,2111.65,5148.000000,3888.35,1259.65,0.0,205.95,0.0,30785.0,21700.0

In [11]:
x_train_b = binning_t.transform(x_train_c)
x_train_b.head()

,loan_amnt,funded_amnt,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,...,initial_list_status,out_prncp,total_pymnt,total_rec_prncp,total_rec_int,total_rec_late_fee,last_pymnt_amnt,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
0,"(18000.0,inf)","(20429.0,25286.0)",60 months,"(12.0,15.0)","(486.0,717.0)",C,C1,10+ years,MORTGAGE,"(7000.0,178500.0)",...,w,"(16080.0,inf)","(13786.0,25000.0)","(5833.0,11667.0)","(6139.0,9208.0)","(-inf,2.0)","(100.0,6007.0)","(-inf,3000.0)","(-inf,500000.0)","(20000.0,40000.0)"
1,"(18000.0,inf)","(20429.0,25286.0)",60 months,"(12.0,15.0)","(486.0,717.0)",C,C3,7 years,MORTGAGE,"(7000.0,178500.0)",...,f,"(16080.0,inf)","(7000.0,13786.0)","(5833.0,11667.0)","(6139.0,9208.0)","(-inf,2.0)","(100.0,6007.0)","(-inf,3000.0)","(-inf,500000.0)","(60000.0,inf)"
2,"(9500.0,18000.0)","(5857.0,10714.0)",36 months,"(17.0,20.0)","(254.0,486.0)",D,D2,10+ years,RENT,"(7000.0,178500.0)",...,w,"(-inf,2000.0)","(7000.0,13786.0)","(5833.0,11667.0)","(-inf,1000)","(-inf,2.0)","(-inf,100.0)","(-inf,3000.0)","(-inf,500000.0)","(-inf,20000.0)"
3,"(1000.0,9500.0)","(1000.0,5857.0)",36 months,"(6.0,9.0)","(23.0,254.0)",A,A4,3 years,OWN,"(7000.0,178500.0)",...,f,"(-inf,2000.0)","(-inf,7000)","(2000.0,5833.0)","(-inf,1000)","(-inf,2.0)","(100.0,6007.0)","(-inf,3000.0)","(-inf,500000.0)","(40000.0,60000.0)"
4,"(1000.0,9500.0)","(5857.0,10714.0)",36 months,"(12.0,15.0)","(23.0,254.0)",C,C1,8 years,RENT,"(7000.0,178500.0)",...,f,"(2000.0,8040.0)","(-inf,7000)","(2000.0,5833.0)","(1000.0,3069.0)","(-inf,2.0)","(100.0,6007.0)","(-inf,3000.0)","(-inf,500000.0)","(20000.0,40000.0)"

In [12]:
woe_t.fit(x_train_b, y_train)

WOETransformer(columns=['loan_amnt', 'funded_amnt', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_length', 'home_ownership', 'annual_inc', 'verification_status', 'purpose', 'addr_state', 'dti', 'revol_bal', 'revol_util', 'total_acc', 'initial_list_status', 'out_prncp', 'total_pymnt', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'last_pymnt_amnt', 'tot_coll_amt', 'tot_cur_bal', 'total_rev_hi_lim', 'status'], target_mappings={0: 'good', 1: 'bad'})

In [13]:
x_train_b["loan_amnt"].value_counts()

loan_amnt
(9500.0,18000.0)    30926
(18000.0,inf)       23735
(1000.0,9500.0)     20541
(-inf,1000.0)         160
Name: count, dtype: int64

In [14]:

woe_t.transform(x_train_b).head()

['(18000.0,inf)', '(9500.0,18000.0)', '(1000.0,9500.0)', '(-inf,1000.0)']
['(25286.0,inf)', '(15571.0,20429.0)', '(10714.0,15571.0)', '(20429.0,25286.0)', '(5857.0,10714.0)', '(1000.0,5857.0)', '(-inf,1000.0)']
[' 60 months', ' 36 months']
['(20.0,inf)', '(17.0,20.0)', '(15.0,17.0)', '(12.0,15.0)', '(9.0,12.0)', '(-inf,6.0)', '(6.0,9.0)']
['(948.0,inf)', '(486.0,717.0)', '(254.0,486.0)', '(717.0,948.0)', '(23.0,254.0)']
['G', 'F', 'E', 'D', 'C', 'B', 'A']
['G1', 'F5', 'G2', 'G5', 'G3', 'F3', 'F4', 'E5', 'F2', 'E4', 'F1', 'G4', 'E3', 'E2', 'D5', 'D4', 'E1', 'D2', 'D3', 'D1', 'C4', 'C5', 'C3', 'C2', 'C1', 'B5', 'B4', 'B3', 'B2', 'B1', 'A5', 'A4', 'A3', 'A2', 'A1']
['< 1 year', '6 years', '5 years', '9 years', '7 years', '8 years', '2 years', '3 years', '1 year', '4 years', '10+ years']
['NONE', 'OTHER', 'RENT', 'OWN', 'MORTGAGE']
['(7000.0,178500.0)', '(178500.0,350000.0)', '(521500.0,693000.0)', '(350000.0,521500.0)', '(693000.0,inf)']
['Verified', 'Source Verified', 'Not Verified']
['small_business', 'house', 'moving', 'other', 'medical', 'wedding', 'renewable_energy', 'debt_consolidation', 'vacation', 'home_improvement', 'major_purchase', 'credit_card', 'car']
['NV', 'HI', 'SD', 'TN', 'LA', 'FL', 'AL', 'VA', 'NY', 'MN', 'OK', 'NC', 'KY', 'MO', 'MD', 'AR', 'IN', 'NJ', 'DE', 'CA', 'PA', 'AZ', 'MI', 'MA', 'NM', 'OH', 'UT', 'GA', 'OR', 'WA', 'KS', 'TX', 'IL', 'RI', 'CO', 'WI', 'MT', 'CT', 'WY', 'SC', 'DC', 'MS', 'WV', 'NH', 'VT', 'AK']
['(27.0,inf)', '(20.0,27.0)', '(13.0,20.0)', '(7.0,13.0)', '(-inf,3.0)', '(3.0,7.0)']
['(-inf,10000.0)', '(500000.0,700000.0)', '(10000.0,500000.0)', '(700000.0,inf)']
['(74.0,inf)', '(37.0,74.0)', '(15.0,37.0)', '(-inf,15.0)']
['(87.0,108.0)', '(-inf,12.0)', '(65.0,87.0)', '(12.0,23.0)', '(44.0,65.0)', '(23.0,44.0)']
['f', 'w']
['(-inf,2000.0)', '(16080.0,inf)', '(8040.0,16080.0)', '(2000.0,8040.0)']
['(-inf,7000)', '(7000.0,13786.0)', '(13786.0,25000.0)', '(25000.0,inf)']
['(-inf,2000.0)', '(2000.0,5833.0)', '(5833.0,11667.0)', '(11667.0,17500.0)', '(17500.0,22000.0)', '(22000.0,inf)']
['(-inf,1000)', '(1000.0,3069.0)', '(3069.0,6139.0)', '(6139.0,9208.0)', '(12277.0,14000.0)', '(9208.0,12277.0)', '(14000.0,inf)']
['(40.0,60.0)', '(60.0,90.0)', '(2.0,40.0)', '(90.0,inf)', '(-inf,2.0)']
['(-inf,100.0)', '(100.0,6007.0)', '(18022.0,23000.0)', '(23000.0,inf)', '(12015.0,18022.0)', '(6007.0,12015.0)']
['(-inf,3000.0)', '(47903.0,62000.0)', '(3000.0,15968.0)', '(62000.0,inf)', '(15968.0,31935.0)', '(31935.0,47903.0)']
['(-inf,500000.0)', '(1500000.0,inf)', '(500000.0,960199.0)', '(960199.0,1500000.0)']
['(-inf,20000.0)', '(20000.0,40000.0)', '(40000.0,60000.0)', '(60000.0,inf)']

,loan_amnt,funded_amnt,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,...,initial_list_status,out_prncp,total_pymnt,total_rec_prncp,total_rec_int,total_rec_late_fee,last_pymnt_amnt,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
0,-0.052340,0.006831,-0.260854,0.148548,-0.070657,-0.053435,0.113274,0.102840,0.143572,-0.01175,...,0.149141,0.883355,0.916576,0.747297,0.125020,0.082051,-0.218153,-0.003029,-0.014988,-0.006193
1,-0.052340,0.006831,-0.260854,0.148548,-0.070657,-0.053435,-0.079615,-0.054376,0.143572,-0.01175,...,-0.095630,0.883355,0.253832,0.747297,0.125020,0.082051,-0.218153,-0.003029,-0.014988,0.490093
2,-0.010994,0.026456,0.124963,-0.550966,-0.024024,-0.418535,-0.419312,0.102840,-0.174877,-0.01175,...,0.149141,-0.622209,0.253832,0.747297,-0.173128,0.082051,-0.503628,-0.003029,-0.014988,-0.135211
3,0.073545,0.109302,0.124963,1.282256,0.178507,1.273492,1.113490,-0.031643,0.041779,-0.01175,...,-0.095630,-0.622209,-0.643936,-0.250153,-0.173128,0.082051,-0.218153,-0.003029,-0.014988,0.198870
4,0.073545,0.026456,0.124963,0.148548,0.178507,-0.053435,0.113274,-0.042903,-0.174877,-0.01175,...,-0.095630,1.290653,-0.643936,-0.250153,0.037963,0.082051,-0.218153,-0.003029,-0.014988,-0.006193

woe_t.transform(x_train_b).head()
# WOE

Now that we transform our data to the respective Weight of Evidence, we can get the mappings for a given column to analyze the WoE and IV, and determine if our bins have a good predictive power, or if we need to re-structure them.

In [15]:
for i in cols_to_keep:
       print(i,":",woe_t.woe_mappings[i]["info_val"].sum())

loan_amnt : 0.002823177930882114
funded_amnt : 0.003900156836676852
term : 0.0325089590182481
int_rate : 0.3738874187971468
installment : 0.00905740376902571
grade : 0.31851996178469905
sub_grade : 0.3489671658529929
emp_length : 0.006405671593878077
home_ownership : 0.023373717097461923
annual_inc : 0.005800187221555119
verification_status : 0.026829507506928148
purpose : 0.028198574288290573
addr_state : 0.011918812018158462
dti : 0.035470914795251954
revol_bal : 0.0010715954054251566
revol_util : 0.017626268152784914
total_acc : 0.00344222994167691
initial_list_status : 0.01424544759039011
out_prncp : 0.6835883125122555
total_pymnt : 0.484381275955703
total_rec_prncp : 1.3266573265722617
total_rec_int : 0.013136672853404259
total_rec_late_fee : 0.16842238999377374
last_pymnt_amnt : 1.1355782705288646
tot_coll_amt : 0.0014278232575042047
tot_cur_bal : 0.010200441324847815
total_rev_hi_lim : 0.03215424566140417
status : 0.0

In [24]:
woe_t.woe_mappings["int_rate"]

      int_rate      good       bad       woe  info_val
4   (20.0,inf)  0.085481  0.197314 -0.836507  0.093550
3  (17.0,20.0)  0.132056  0.229108 -0.550966  0.053472
2  (15.0,17.0)  0.140761  0.180781 -0.250225  0.010014
1  (12.0,15.0)  0.291261  0.251055  0.148548  0.005972
6   (9.0,12.0)  0.189565  0.097105  0.668943  0.061851
0   (-inf,6.0)  0.000159  0.000053  1.098612  0.000117
5    (6.0,9.0)  0.160718  0.044585  1.282256  0.148912

In [25]:
woe_t.woe_mappings["grade"]

  grade      good       bad       woe  info_val
6     G  0.005971  0.017569 -1.079165  0.012515
5     F  0.026326  0.064170 -0.890973  0.033718
4     E  0.071203  0.141132 -0.684162  0.047843
3     D  0.159364  0.242191 -0.418535  0.034666
2     C  0.278496  0.293782 -0.053435  0.000817
1     B  0.300178  0.196810  0.422136  0.043635
0     A  0.158462  0.044346  1.273492  0.145326

In [26]:
woe_t.woe_mappings["sub_grade"]

   sub_grade      good       bad       woe  info_val
30        G1  0.001884  0.006396 -1.222117  0.005514
29        F5  0.002627  0.008864 -1.216021  0.007584
31        G2  0.001353  0.004113 -1.111599  0.003068
34        G5  0.000690  0.002017 -1.072637  0.001423
32        G3  0.001194  0.003370 -1.037525  0.002258
27        F3  0.005281  0.013933 -0.970093  0.008393
28        F4  0.004273  0.010589 -0.907557  0.005732
24        E5  0.009474  0.022664 -0.872195  0.011504
26        F2  0.006183  0.014119 -0.825605  0.006551
23        E4  0.011518  0.025955 -0.812465  0.011730
25        F1  0.007962  0.016666 -0.738758  0.006431
33        G4  0.000849  0.001672 -0.677399  0.000557
22        E3  0.014119  0.027361 -0.661641  0.008762
21        E2  0.017834  0.034474 -0.659092  0.010967
19        D5  0.023142  0.039675 -0.539092  0.008913
18        D4  0.028396  0.047849 -0.521793  0.010150
20        E1  0.018259  0.030679 -0.518932  0.006445
16        D2  0.033624  0.051140 -0.419312  0.007344
17        D3  0.030174  0.044717 -0.393372  0.005721
15        D1  0.044027  0.058809 -0.289489  0.004279
13        C4  0.051511  0.062737 -0.197152  0.002213
14        C5  0.051856  0.062233 -0.182407  0.001893
12        C3  0.057323  0.062074 -0.079615  0.000378
11        C2  0.059818  0.054961  0.084675  0.000411
10        C1  0.057987  0.051777  0.113274  0.000703
9         B5  0.053794  0.042754  0.229702  0.002536
8         B4  0.066134  0.050291  0.273867  0.004339
7         B3  0.065710  0.044532  0.389042  0.008239
6         B2  0.062233  0.034474  0.590691  0.016397
5         B1  0.052308  0.024760  0.747891  0.020602
4         A5  0.047053  0.018232  0.948094  0.027325
3         A4  0.037738  0.012394  1.113490  0.028221
2         A3  0.026459  0.006024  1.479801  0.030239
1         A2  0.023805  0.004379  1.693110  0.032891
0         A1  0.023407  0.003317  1.953878  0.039253

In [27]:
woe_t.woe_mappings["out_prncp"]

          out_prncp      good       bad       woe  info_val
0     (-inf,2000.0)  0.441788  0.823067 -0.622209  0.237236
1     (16080.0,inf)  0.093920  0.038826  0.883355  0.048668
3  (8040.0,16080.0)  0.201985  0.065948  1.119322  0.152269
2   (2000.0,8040.0)  0.262307  0.072158  1.290653  0.245416

In [28]:
woe_t.woe_mappings["total_pymnt"]

         total_pymnt      good       bad       woe  info_val
0        (-inf,7000)  0.323028  0.615031 -0.643936  0.188032
3   (7000.0,13786.0)  0.363313  0.281866  0.253832  0.020674
1  (13786.0,25000.0)  0.232478  0.092965  0.916576  0.127875
2      (25000.0,inf)  0.081181  0.010138  2.080423  0.147801

In [31]:
woe_t.woe_mappings["total_rec_prncp"]

     total_rec_prncp      good       bad       woe  info_val
0      (-inf,2000.0)  0.054961  0.369576 -1.905726  0.599570
3    (2000.0,5833.0)  0.348000  0.446910 -0.250153  0.024742
5   (5833.0,11667.0)  0.319710  0.151429  0.747297  0.125756
1  (11667.0,17500.0)  0.147103  0.024999  1.772286  0.216403
2  (17500.0,22000.0)  0.062923  0.003981  2.760432  0.162706
4      (22000.0,inf)  0.067302  0.003105  3.076169  0.197480

In [29]:
woe_t.woe_mappings["last_pymnt_amnt"]

     last_pymnt_amnt      good       bad       woe  info_val
0       (-inf,100.0)  0.025902  0.042860 -0.503628  0.008541
1     (100.0,6007.0)  0.768690  0.956079 -0.218153  0.040879
3  (18022.0,23000.0)  0.022160  0.000212  4.647990  0.102011
4      (23000.0,inf)  0.021098  0.000159  4.886583  0.102320
2  (12015.0,18022.0)  0.057456  0.000265  5.377591  0.307548
5   (6007.0,12015.0)  0.104695  0.000425  5.507616  0.574279

In [30]:
woe_t.woe_mappings["addr_state"]

   addr_state      good       bad       woe      info_val
28         NV  0.013243  0.017330 -0.268971  1.099269e-03
11         HI  0.005281  0.006847 -0.259655  4.065612e-04
36         SD  0.001805  0.002203 -0.199333  7.935016e-05
37         TN  0.013774  0.016454 -0.177816  4.766162e-04
16         LA  0.011040  0.012924 -0.157579  2.969162e-04
9          FL  0.065338  0.074361 -0.129359  1.167225e-03
1          AL  0.013163  0.014410 -0.090533  1.129235e-04
40         VA  0.030281  0.032775 -0.079166  1.974893e-04
29         NY  0.085162  0.091372 -0.070384  4.370854e-04
20         MN  0.016852  0.018073 -0.069937  8.537767e-05
31         OK  0.009076  0.009713 -0.067823  4.319796e-05
24         NC  0.027388  0.029219 -0.064720  1.185131e-04
15         KY  0.009342  0.009872 -0.055263  2.933185e-05
21         MO  0.015339  0.016189 -0.053885  4.576107e-05
18         MD  0.023540  0.024681 -0.047340  5.402200e-05
2          AR  0.007245  0.007563 -0.043017  1.369944e-05
13         IN  0.016374  0.017091 -0.042830  3.068926e-05
26         NJ  0.038162  0.039410 -0.032162  4.011547e-05
8          DE  0.002627  0.002707 -0.029853  2.376765e-06
4          CA  0.150606  0.153021 -0.015908  3.841807e-05
33         PA  0.035270  0.035827 -0.015678  8.737403e-06
3          AZ  0.022929  0.023115 -0.008069  1.499017e-06
19         MI  0.024814  0.024946 -0.005333  7.076970e-07
17         MA  0.022744  0.022823 -0.003494  2.782148e-07
27         NM  0.005945  0.005918  0.004474  1.187410e-07
30         OH  0.034155  0.033094  0.031573  3.351637e-05
39         UT  0.008280  0.007855  0.052644  2.235343e-05
10         GA  0.031130  0.028954  0.072470  1.577062e-04
32         OR  0.012632  0.011571  0.087776  9.317758e-05
42         WA  0.022956  0.020488  0.113745  2.807325e-04
14         KS  0.008731  0.007776  0.115885  1.107153e-04
38         TX  0.081022  0.071468  0.125469  1.198716e-03
12         IL  0.039781  0.034845  0.132484  6.539623e-04
34         RI  0.004910  0.004273  0.138951  8.850177e-05
5          CO  0.020806  0.017542  0.170655  5.570602e-04
43         WI  0.013827  0.011412  0.191965  4.635970e-04
23         MT  0.003078  0.002521  0.199713  1.113022e-04
6          CT  0.015499  0.012579  0.208694  6.092275e-04
45         WY  0.002282  0.001778  0.249655  1.258841e-04
35         SC  0.012340  0.009554  0.255933  7.131712e-04
7          DC  0.002495  0.001884  0.280615  1.712837e-04
22         MS  0.003317  0.002495  0.285019  2.344839e-04
44         WV  0.005122  0.003848  0.285956  3.642661e-04
25         NH  0.004883  0.003609  0.302281  3.850610e-04
41         VT  0.001911  0.001407  0.306374  1.544840e-04
0          AK  0.003503  0.002203  0.463961  6.033307e-04